@model Kungumam.Models.Gallery

@{
    ViewData["Title"] = "Gallery";
}
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
<script src="/ckeditor/ckeditor.js" type="text/javascript"></script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Gallery</a> </li>
            <li class="active"> <strong> Gallery</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Gallery</h5>
                    <hr>
                    @using (Html.BeginForm("Gallery", "Gallery", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />   <label for="inputName3" class="col-sm-4 control-label"> Choose Magazine <label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.ChooseMagazine, Model.ChooseMagazinelst, "--Please Select--", new { @id = "ddlChooseMagazine", @Class = "form-control _select", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />   <label for="inputName3" class="col-sm-4 control-label">Choose Category<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.Catageroy, Model.ChooseCategory, "--Please Select--", new { @id = "ddlChooseCategory", @Class = "form-control _select", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />   <label for="inputName3" class="col-sm-4 control-label">Choose SubCategory<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.SubCategory, Model.ChooseSubCategory, "--Please Select--", new { @id = "ddlSubCategory", @Class = "form-control _select", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <br /> <div class="form-group">
                                        <label for="formFile" class="col-sm-2 control-label">Image<label class="mandatory">*</label></label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="file" name="file" multiple />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <br /> <div class="form-group">
                                        <label for="formFile" class="col-sm-2 control-label">ThumbImage<label class="mandatory">*</label></label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="file" name="file" multiple />
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <br />   <label for="inputName3" class="col-sm-4 control-label">Title<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Title, new { @id = "Title", @class = "form-control", @TabIndex = 2, @size = "32" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <br /> <label for="checkbox" class="col-sm-2 control-label">Message<label class="mandatory">*</label></label>
                                        <div class="col-sm-10">
                                            @Html.TextAreaFor(C => C.Message, new { @id = "Message", @class = "form-control", @TabIndex = 1 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="datePicker" class="col-sm-4 control-label">IssueDate<label class="mandatory">*</label></label>
                                        <div class="input-group date form_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.IssueDate, new { @id = "IssueDate", @class = "form-control", @TabIndex = 2, @size = "32" })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <br /> <label for="inputName3" class="col-sm-4 control-label">EndDate<label class="mandatory">*</label></label>
                                        <div class="input-group date to_date col-sm-8" data-date="" data-date-format="dd-M-yyyy">
                                            @Html.TextBoxFor(C => C.EndDate, new { @id = "EndDate", @class = "form-control", @TabIndex = 2, @size = "32" })
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
    $(document).ready(function () {
        CKEDITOR.replace('Message', {
            height: 300,
        });
    });
</script>
<script>
    $(function () {
        $('._select').select2();
    });
</script>
<script>
    $('.to_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0

    });
    $('.form_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        endDate: new Date(),
        forceParse: 0
    }).on('changeDate', function (selected) {
        var minDate = new Date(selected.date.valueOf());
        $('.to_date').datetimepicker('setStartDate', minDate);

    });
</script>
<script>
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("ddlChooseMagazine").value == "") {
                isValid = false;
                $(ddlChooseMagazine).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select ChoosMagazine");
                return false;
            }
            else {
                $(ddlChooseMagazine).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("ddlSubCategory").value == "") {
                isValid = false;
                $(Catageroy).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter SubCategory");
                return false;
            }
            else {
                $(ddlSubCategory).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("Category").value == "") {
                isValid = false;
                $(Category).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Category");
                return false;
            }
            else {
                $(Category).css({
                    "border": "",
                    "background": ""
                });
            }
            if (isValid == false)
                e.preventDefault();
        });

    });
</script>