@model Kungumam.Models.Category

@{
    ViewData["Title"] = "Category";
}
<style>

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Category</a> </li>
            <li class="active"> <strong> Category </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Category</h5>
                    <hr>
                    @using (Html.BeginForm("Category", "Category", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />   <label for="inputName3" class="col-sm-4 control-label"> Choose Magazine <label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(C => C.ChooseMagazine, Model.ChooseMagazinelst, "--Please Select--", new { @id = "ddlChooseMagazine", @Class = "form-control _select", @TabIndex = 1 })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />   <label for="inputName3" class="col-sm-4 control-label"> Category Name <label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Catageroy, new { @id = "Catageroy", @class = "form-control", @TabIndex = 2, @size = "32" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <br />   <label for="inputName3" class="col-sm-4 control-label"> Category Name(Tamil) <label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Tamil, new { @id = "Tamil", @class = "form-control", @TabIndex = 2, @size = "32" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div style="height:30px;"></div>
                            <div class="col-lg-5"></div>
                            <div class="text-center">
                                <button type="submit" name="submit" class="btn btn-primary" id="btnSave" value="Save" tabindex="18">Save</button>
                                <button class="btn btn-warning" type="reset">Reset</button>
                                <a button class="btn btn-danger" type="submit" href="@Url.Action("ListCategory", "Category")">Cancel</a>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('._select').select2();
    });
</script>
<script>
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("ddlChooseMagazine").value == "") {
                isValid = false;
                $(ddlChooseMagazine).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select ChoosMagazine");
                return false;
            }
            else {
                $(ddlChooseMagazine).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("Catageroy").value == "") {
                isValid = false;
                $(Catageroy).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Catageroy Name");
                return false;
            }
            else {
                $(Catageroy).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("Tamil").value == "") {
                isValid = false;
                $(Tamil).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Catageroy Name(Tamil)");
                return false;
            }
            else {
                $(Tamil).css({
                    "border": "",
                    "background": ""
                });
            }
            if (isValid == false)
                e.preventDefault();
        });

    });
</script>